@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


body {
    font-family: "Do Hyeon", sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #2c1acec6;
    color: #fff;
    padding: 10px 0px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.navbar {
    background: #eaff00;
    border-radius:  5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.nav-list {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.5s;
}

.nav-link:hover {
    background: #555;
}

section {
    padding: 15px;
    margin: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section:hover{
    background: #4f4dc550;
    transition: background 0.5s;
}

section:target{
    background: #3b637550;
    
}

section a {
    color: inherit; /*Hereda el color del texto */
    text-decoration: none; /*Quita el subrayado*/
    display: block; 
    height: 100%;
}